body {
    font-family: "Century Gothic", "Lato", sans-serif;
}
  a {
    text-decoration: none;
  }
  
  .et-itman-tabs,
  .et-slide { 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding: 0 2em;
  }
  .et-itman-tabs h1,
  .et-slide-consult h1 {
    font-size: 5rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  .et-itman-tabs h3,
  .et-slide-consult h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }

  .et-slide-support h1 {
    font-size: 20rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  .et-slide-support h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }

  .et-slide-protect h1 {
    font-size: 20rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  .et-slide-protect h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }

  .et-slide-assistant h1 {
    font-size: 20rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  .et-slide-assistant h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }

  .et-slide-price h1 {
    font-size: 20rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  .et-slide-price h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }

  .et-slide-contactus h1 {
    font-size: 10rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  .et-slide-contactus h3 {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }

  .et-slide-consult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    background-image: linear-gradient(120deg, #c4f8c9 0%, #ebf1bb 100%);
    padding: 0 2em;
  }
  .et-slide-support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    background-image: linear-gradient(120deg, #bdf0ba 0%, #9debe9 100%);
    padding: 0 2em;
  }
  .et-slide-protect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    background-image: linear-gradient(120deg, #a7daee 0%, #c1ccfc 100%);
    padding: 0 2em;
  }  
  .et-slide-assistant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    background-image: linear-gradient(120deg, #bbbaf8 0%, #f1b3f3 100%);
    padding: 0 2em;
  }
  .et-slide-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    background-image: linear-gradient(120deg, #f8c5eb 0%, #fcb7b7 100%);
    padding: 0 2em;
  }
  .et-slide-contactus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    background-image: linear-gradient(120deg, #cdf1cb 0%, #bcfaf9 100%);
    padding: 0 2em;
  }
  
  .et-itman-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
  }
  .et-itman-tabs-container--top {
    position: fixed;
    top: 0;
  }
  
  .et-itman-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
  }
  .et-itman-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
  }
  
  .et-itman-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
  }
  
  @media (min-width: 800px) {
    .et-itman-tabs h1,
  .et-slide h1 {
      font-size: 3rem;
    }
    .et-itman-tabs h3,
  .et-slide h3 {
      font-size: 1rem;
    }
  
    .et-itman-tab {
      font-size: 1rem;
    }
  }
  